@tailwind base;
@tailwind components;
@tailwind utilities;

// Navbar Links
nav a {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}
