@tailwind base;
@tailwind components;
@tailwind utilities;

// Navbar Links
.navlinks {
  position: relative;
  letter-spacing: 2px;

  &::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}

// Team Cards
.team-card {
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}
